[Unit]
Description=UDP Distributor Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/udp_distributor/main.py
WorkingDirectory=/opt/udp_distributor
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target
