[Unit]
Description=UDP Distributor Service
After=network.target

[Service]
ExecStart=/opt/udp_distributor/venv/bin/python /opt/udp_distributor/main.py
WorkingDirectory=/opt/udp_distributor
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target
